@page "/counter"
@using RuneGlossary.Api
@using STrain

@inject IRequestSender RequestSender

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private string currentCount;

    private async Task IncrementCount()
    {
        currentCount = await RequestSender.GetAsync<TestQuery, string>(new TestQuery(), default);
        StateHasChanged();
    }
}
