/* #region div */
div.panel {
    border-image: var(--border-top);
    border-image-width: auto;
    border-image-slice: 30%;
    border-style: none;
}

div.main {
    display: grid;
    grid-template-areas:
        'character filter'
        'character result';
    grid-template-columns: 24% auto;
    grid-template-rows: max-content 1fr;
    align-content: center;
    height: 100%;
    width: 99%;

    margin: auto;
}

div.character {
    background-color: var(--color-background);
    display: grid;
    grid-template:
        'data'
        'rune-list'
        'button-row';
    grid-template-rows: auto min-content min-content;
    grid-row-gap: var(--size-single);
    grid-area: character;
    height: auto;
    padding: var(--size-double);
    border-style: solid;
}

div.filter {
    background-color: var(--color-background);

    display: grid;

    border-style: solid;

    grid-area: filter;
    justify-content: stretch;
    grid-template-areas:
        'item-types static'
        'button-row button-row';
    grid-template-columns: auto auto;
    grid-row-gap: 4px;
    padding: var(--size-double);
    height: fit-content;
}

div.result {
    grid-area: result;
    background-color: var(--color-background);
    border-color: darkblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    max-height: 807px;
    overflow: auto;
}

div.character-data {
    margin: 4px;

    display: grid;
    grid-template-areas:
        'index'
        'class'
        'information';
    grid-template-rows: min-content auto min-content;
    grid-row-gap: 4px;

    grid-area: data;
}

div.class {
    display: grid;
    grid-template-areas: 'previous image next';
    grid-template-columns: max-content auto max-content;
    grid-area: class;
    height: auto;
}

div.character-information {
    grid-area: information;
    display: grid;
    grid-template-areas:
        'label-name value-name'
        'label-level value-level';
    grid-template-columns: max-content auto;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

div.rune-list {
    height: max-content;
    width: auto;
    column-count: 3;
    grid-area: rune-list;
}

div.button-row {
    grid-area: button-row;
    display: flex;
    justify-content: flex-end;
}

div.item-types {
    display: grid;
    grid-template: 'armors weapons';
    grid-template-columns: max-content max-content;
    grid-area: item-types;
    justify-self: center;
}

div.weapons {
    grid-area: weapons;
    column-count: 5;
    column-fill: auto;
}

div.armors {
    grid-area: armors;
}

div.static {
    grid-area: static;
    display: grid;
    grid-template-areas:
        'label-max-level max-level max-level max-level'
        'label-socket from dash to';
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    height: max-content;
}
/*#endregion*/
/*#region button*/
button {
    height: 2em;
    width: 7.3em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-text-button);
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
}

button:enabled {
    background-image: var(--image-button-enabled);
}

button:disabled {
    background-image: var(--image-button-disabled);
}

button:active {
    transform: scale(0.98);
}

button.previous {
    grid-area: previous;

    background-color: transparent;
    background-image: none;

    width: auto;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

button.next {
    grid-area: next;

    background-color: transparent;
    background-image: none;

    width: auto;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

button.plus {
    background-image: var(--image-button-plus);

    height: 25px;
    width: 25px;

    border-width: 0px;
}
/*#endregion*/

span.index {
    grid-area: index;

    justify-self: center;
}

img.class {
    align-self: center;
    justify-self: center;

    grid-area: image;

    width: 100%;
}

.selector {
    display: flex;

    margin: 4px;
}

span.label {
    align-self: center;
}

.value {
    align-self: center;
}

span.max-level {
    grid-area: label-max-level;
}

span.socket {
    grid-area: label-socket;
}

input[type="number"] {
    border-image: var(--border-input);
    border-image-width: auto;
    border-style: solid;
}