.panel {
    display: block;

    background-color: lightsteelblue;

    height: 100%;
    width: 100%;

    color: white;
}

.main {

}

.character {
    background-color: deepskyblue;

    border-color: darkblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    width: 25%;
    height: 100%;

    display: flex;
    flex-flow: column;
}

.character-data {
    margin: 4px;

    display: flex;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-flow: column;

    width: 100%;

    justify-content: center;
}

img.class {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

div.class {
    display: flex;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    justify-content: center;

    width: 100%
}

.character-information {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: content;
}

.rune-list {
    margin: 4px;
    padding: 4px;

    height: fit-content;
    width: auto;

    column-count: 3;

    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: content;
    
}

.selector {
    display: flex;

    margin: 4px;
}

button.previous {
    justify-self: flex-start;
}

button.next {
    justify-self: flex-end;
}