@page "/"

@using RuneGlossary.Api
@using RuneGlossary.Client.WASM.Components
@using RuneGlossary.Client.WASM.Models
@using STrain

@inject IRequestSender RequestSender;

<div class="panel main">
    <div class="panel character">
        <div class="panel character-data">

        </div>
        <div class="panel rune-list">
            @foreach (var rune in Runes)
            {
                <div class="selector">
                    <input type="checkbox" @value="rune.Selected"/>
                    <Rune Model="@rune.Rune"/>
                </div>
            }
        </div>
    </div>
</div>

@code {
    public IEnumerable<RuneSelector> Runes { get; set; } = new List<RuneSelector>();

    protected override async Task OnInitializedAsync()
    {
        Runes = (await RequestSender.GetAsync<GetRunesQuery, IEnumerable<GetRunesQuery.Rune>>(new GetRunesQuery(), default) ?? new List<GetRunesQuery.Rune>())
                    .Select(r => new RuneSelector(r));
    }
}
