div.panel {
    background-color: lightsteelblue;

    color: white;
}

div.filter {
    grid-area: filter;

    background-color: deepskyblue;

    border-color: darkblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

div.main {
    display: grid;

    grid-template-areas:
        'character filter '
        'character result';
    grid-template-columns: 25% auto;
    grid-template-rows: min-content auto;

    align-content: center;
}

div.character {
    background-color: deepskyblue;

    border-color: darkblue;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    display: grid;

    grid-template: 
        'data'
        'rune-list'
        'button-row';
    grid-template-rows: auto min-content min-content;
    grid-row-gap: 4px;

    grid-area: character;

    height: fit-content;
}

div.character-data {
    margin: 4px;

    display: grid;
    grid-template-areas:
        'index'
        'class'
        'information';
    grid-template-rows: min-content auto min-content;
    grid-row-gap: 4px;

    grid-area: data;
}

span.index {
    grid-area: index;

    justify-self: center;
}

img.class {
    align-self: center;
    justify-self: center;

    grid-area: image;

    width: 100%;
}

div.class {
    display: grid;

    grid-template-areas: 'previous image next';
    grid-template-columns: max-content auto max-content;

    grid-area: class;

    height: auto;
}

div.character-information {
    grid-area: information;
    display: grid;
    grid-template-areas:
        'label-name value-name'
        'label-level value-level';
    grid-template-columns: max-content auto;
    grid-row-gap: 4px;
    grid-column-gap: 4px;
}

div.rune-list {
    height: max-content;
    width: auto;

    column-count: 3;
    
    grid-area: rune-list;
}

.selector {
    display: flex;

    margin: 4px;
}

button.previous {
    grid-area: previous;
}

button.next {
    grid-area: next;
}

div.button-row {
    grid-area: button-row;
}

edit-form.character-data {
    display: inherit;

    grid-template-areas: inherit;
    grid-template-rows: inherit;
}

span.label {
    align-self: center;
}

.value {
    align-self: center;
}