div.container {
    border-image: var(--border-top);
    border-image-width: auto;
    border-image-slice: 30%;
    border-style: solid;

    margin-top: var(--size-single);
    margin-bottom: var(--size-single);

    text-align: center;

    padding: var(--size-double);
}

div.runes {
    margin-top: var(--size-half);
    margin-bottom: var(--size-half);
}

div.item-types {
    margin-top: var(--size-half);
    margin-bottom: var(--size-double);
}

div.statistics {
    display: flex;
    flex-flow: column;

    margin-top: 3em;
    margin-bottom: 2em;
}

a.name {
    color: var(--color-text-rune-word);

    font-weight: bold;
    font-size: 18px;
}

a.not-applicable {
    color: var(--color-text-incomplete);
}

span.item-type {
    
}

span.not-selected {
    opacity: 0.5;
}


span.statistic {
    color: var(--color-text-statistic);

    font-size: 14px;
}

span.unavailable {
    color: var(--color-text-unavailable);
}
