@font-face {
    font-family: 'Exocet';
    src: url('../assets/fonts/exocet-heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

    font-family: 'Exocet';
    src: url('../assets/fonts/exocet-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-background: rgba(0, 0, 0, 0.8);
    --color-text: #FCF5E3;
    --color-text-rune: #F1A801;
    --color-text-button: #FCF5E3;
    --color-text-rune-word: #C1BEAF;
    --color-text-statistic: #7F78BE;
    --color-text-unavailable: #B16A6E;
    --color-text-incomplete: #868686;
    --color-text-skill: #45C73E;
    --border-top: url('../assets/border.png');
    --image-input: url('../assets/input.png');
    --image-button: url('../assets/button.png');
    --image-button-disabled: url('../assets/button-disabled.png');
    --image-button-hover: url('../assets/button-hover.png');
    --image-button-active: url('../assets/button-active.png');
    --image-button-plus: url('../assets/plus.png');
    --image-checkbox: url('../assets/unchecked.png');
    --image-checkbox-checked: url('../assets/checked.png');
    --size-half: 2px;
    --size-single: 4px;
    --size-double: 8px;
}

html, body {
    font-family: 'Exocet';
    font-size: 13px;

    overflow: hidden;

    background-image: url('../assets/background.gif');
    background-size: cover;

    color: var(--color-text);

    width: 100vw;
    height: 100vh;
}

body {
    padding: 4px;
    margin: 0px;
}

html {
    height: 100vh;
}

#app {
    
}

.content {
}
/*#region CheckBox*/
input[type=checkbox] {
    visibility: hidden;
}

.checkbox-container {
    position: relative;

    width: 16px;
    height: 16px;

    margin-right: var(--size-single);

    align-self: center;
}

.checkbox {
    background-image: var(--image-checkbox);
    background-size: contain;

    position: absolute;
    top: 0;
    left: 0;

    height: 16px;
    width: 16px;
}

.checkbox-container input:checked ~ .checkbox {
    background-image: var(--image-checkbox-checked);
}

.checkbox-container label {
    width: 16px;
    height: 16px;

    position: absolute;
    top: 0px;
    left: 0px;
}
/*#endregion*/

/*#region Number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

input[type=number] {
    --moz-appearance: textfield;

    background-image: var(--image-input);
    background-color: transparent;
    background-size: cover;
    background: repeat-y;

    color: var(--color-text);
}

input[type=number]:focus {
    outline-width: 0px;
}

input[type=number]:valid {
    outline-width: 0px;
}
/*#endregion*/

/*#region EditForm*/
form {
    display: inherit;

    grid-template: inherit;
    grid-template-areas: inherit;
    grid-row-gap: inherit;
    grid-column-gap: inherit;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
}
/*#endregion*/

/*#region Dialog*/
div.modal {
    background-color: var(--color-background);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-image: var(--border-top);
    border-image-width: auto;
    border-image-slice: 30%;
    border-style: solid;
    padding-left: var(--size-double);
    padding-right: var(--size-double);
}
/*endregion*/

button {
    height: 2em;
    width: 7.4em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--color-text-button);
    font-family: inherit;
    font-size: 16px;
    font-weight: normal;
    background-image: var(--image-button);
}

button:disabled {
    background-image: var(--image-button-disabled);
}

button:is(:hover) {
    background-image: var(--image-button-hover);
}

button:active {
    background-image: var(--image-button-active);
}