@font-face {
    font-family: 'Exocet';
    src: url('../assets/fonts/exocet-heavy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

    font-family: 'Exocet';
    src: url('../assets/fonts/exocet-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-background: rgba(0, 0, 0, 0.6);
    --color-text: #A18E73;
    --color-text-rune: #F1A801;
    --color-text-button: #FCF5E3;
    
    --border-top: url('../assets/border.png');

    --image-input: url('../assets/input.png');
    --image-button-enabled: url('../assets/button-enabled.png');
    --image-button-disabled: url('../assets/button-disabled.png');
    --image-button-plus: url('../assets/plus.png');
    --image-checkbox: url('../assets/unchecked.png');
    --image-checkbox-checked: url('../assets/checked.png');


    --size-single: 4px;
    --size-double: 8px;
}

html, body {
    font-family: 'Exocet';
    font-size: 13px;

    overflow: hidden;

    background-image: url('../assets/background.gif');
    background-size: cover;

    color: var(--color-text);

    width: 100vw;
    height: 100vh;
}

body {
    padding: 4px;
    margin: 0px;
}

html {
    height: 100vh;
}

#app {
    
}

.content {
}
/*#region CheckBox*/
input[type=checkbox] {
    visibility: hidden;
}

.checkbox-container {
    position: relative;

    width: 16px;
    height: 16px;

    margin-right: var(--size-single);

    align-self: center;
}

.checkbox {
    background-image: var(--image-checkbox);
    background-size: contain;

    position: absolute;
    top: 0;
    left: 0;

    height: 16px;
    width: 16px;
}

.checkbox-container input:checked ~ .checkbox {
    background-image: var(--image-checkbox-checked);
}

.checkbox-container label {
    width: 16px;
    height: 16px;

    position: absolute;
    top: 0px;
    left: 0px;
}
/*#endregion*/

/*#region Number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

input[type=number] {
    --moz-appearance: textfield;

    background-image: var(--image-input);
    background-color: transparent;
    background-size: cover;
    background: repeat-y;

    color: var(--color-text);
}

input[type=number]:focus {
    outline-width: 0px;
}

input[type=number]:valid {
    outline-width: 0px;
}
/*#endregion*/
