@using Blazored.Modal
@using Blazored.Modal.Services

<div class="content">
    <span>Do you really want to delete @Name?</span>

    <div class="button-row">
        <button @onclick="ConfirmAsync">Yes</button>
        <button @onclick="CancelAsync">No</button>
    </div>
</div>

@code {
    [CascadingParameter]
    public BlazoredModalInstance Modal { get; set; }

    [Parameter]
    public string Name { get; set; }

    public async Task ConfirmAsync() => await Modal.CloseAsync(ModalResult.Ok());
    public async Task CancelAsync() => await Modal.CancelAsync(); 
}
